*{
    box-sizing: border-box;
}
#title {
    margin: 45px 20px 20px;
    text-align: center;
    padding-bottom: 45px;
}

#chicken , #beef, #sushi{
    display: inline-block;
    font-size: 20px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    height: auto;
    margin: 0 auto 15px;
    padding: 20px;
    background-color: rgb(110, 110, 110);
    box-sizing: border-box;
}

span { 
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 0px 0px 15px 0px;
    padding: 3px 30px 3px 30px;
    border: 2px solid #000000;
    text-align: center;
    font-size: 1.2em;
}

#chicken span{
    background-color: rgb(189, 78, 78);
    color: #000;
}

#beef span{
    background-color: rgb(121, 8, 8);
    color: rgb(253, 253, 253);
}
#sushi span{
    background-color: rgb(220, 233, 35);
    color: #000;
}


/*for lg media */
@media (min-width: 992px) {
    #chicken , #beef, #sushi{
        width: 32%;
    }
}
/*for lg media */


/*for md media */
@media (min-width: 768px) and (max-width: 991px) {
    #chicken , #beef{
        width: 48%;
    }
    #sushi{
        width: 100%;
    }
}
/*for md media */


/*for sm media */
@media (max-width: 767px) {
    #chicken , #beef, #sushi{
        width: 100%;
    }
}
/*for sm media */
